<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="VideoSettingFilePath" value="Config/VideoSetting"/>
    <add key="VideoSettingFileName" value="VideoSetting.xml"/>
  </appSettings>
</configuration>

<!--注释-->
<!--基于 CameraDirectXCapture-master.zip进行二次开发 -->
<!--本身基于DirectShow进行开发，而DirectShow的版本比较老，所以替换成了DirectShowLib-->
<!--相关的Capture项目未适应DrectShowLib，所以先暂时屏蔽-->
<!--BaseDirectShow 实现了摄像的参数保存本地，视频录制-->
<!--WinFormTestDemo 展示了Demo-->